/* Variables */
:root {
    --primary-color: rgb(229, 199, 30);
    --secondary-color: black;
    --text-color: beige;
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    margin: 0 60px;
    font-family: var(--font-family);
}

/*cuando selecciono texto me dara esos colores*/
p::selection {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/*First yellow part*/
header {
    background: var(--primary-color);
    width: 100%;
    text-align: left;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 80px;
    margin-left: 15px;
}

.topnav a {
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-color);
    padding: 20px;
    font-size: 20px;
}

.topnav a:hover {
    color: var(--text-color)
}

h1, h3, h4{
    margin-top: 15px;
    text-transform: uppercase;
}

h1 {
    font-weight: bold;
    font-size: 45px;
}

h3, h4 {
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}


.card {
    float: left;
    width: 25%;
}

.card1 {
    float: left;
    width: 45%;
    overflow: hidden;
}

.card1 img {
    position: relative;
    max-width: 100%;
    max-height: 100%;

}

/*Second part of the web*/

.container2 {
    padding: 20px;
    margin: 20px;
    overflow: scroll;
}

.subcontainer {
    text-align: center;
    padding: 2px;
    text-transform: uppercase;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    /*no funciona por que?*/
    gap: 20px;
    text-align: center;

}


/*La propiedad position: relative se utiliza en .box para que el pseudoelemento ::before posicionado absolutamente sea relativo a .box y no a algún contenedor ancestral. */
.box {
    position: relative;
    padding: 8px;
    flex-basis: 200px;
    /*estudiar*/
    max-width: 200px;
    /*va relacionado con flex-basis*/
    margin: 30px;
    overflow: hidden;
}

/*para poner los numeros como fondo de cada caja*/
.box::before {
    content: attr(data-number);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13em;
    color: rgba(229, 199, 30, 0.456);
    z-index: 0;
    pointer-events: none;
    /* Asegura que el contenido sea clicable */
}

/*significa "todos los elementos hijos directos de un elemento con la clase box".*/
.box> * {
    position: relative;
    z-index: 1;
}

/*third part*/

.titulo {
    color: var(--primary-color);
    margin-bottom: 10px;
}


/*tambien dan forma al texto contenedor 5
*/
.texto {
    font-size: large;
    font-weight: normal;
    padding-bottom: 30px;
}

.container3 {
    background: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    text-align: justify;

}

/* leftcontainer, rightcontainer, img y button tambien dan forma al contenedor 5
*/
.leftcontainer {
    flex: 1;
    margin: 10px 15px 0px 60px;
    padding: 20px;

}

.rightcontainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    height: auto;

}

.rightcontainer img {
    max-width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;
}

button {
    background:var(--primary-color);
    border: 4px;
    border-radius: 5px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;
    width: 200px;
}

/*container4*/


.container4 {
    position: relative;
    /* Necesario para posicionar el texto encima */
    background-image: url("img/young.jpg");
    background-size: cover;
    /* Asegura que la imagen de fondo cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen de fondo */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer4 {
    padding: 20px;
    margin: 10px 0px 0px 60px;
    margin-right: 55%;
    color: white;
    position: relative;
    /* Necesario para el z-index */
    z-index: 1;
    /* Asegura que el texto esté encima de la imagen */
    text-align: justify;
    /* Opcional: para centrar el texto */

}

#nombre {
    margin: 20px 0px 20px 0px;
}

#gerente::first-letter {
    text-transform: uppercase;
}

/*container5*/

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}

/*container 6*/
.container6 {
    text-align: center;
    padding: 40px;
}

.container6 > p {
    text-wrap: wrap;
    width: auto;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logos>img {
    position: relative;
    align-content: space-between;
    padding: 10px;
    margin-top: 35px;
}

/*container7*/

.container7 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 30px;
}

.subcontainer7{
    display: flex;
    flex-wrap:wrap ;
    position: relative;
    margin: 20px;
    gap:20px
}

.container7 > h1 {
    padding: 10px;
    text-align: center;
}


.leftcontainer7, .rightcontainer7 {
    flex: 1;
    padding: 20px;
    margin: 0px 50px 5px 20px;
}

input, textarea {
    outline: solid 1px white;
    margin: 10px;
    padding: 20px;
    background-color: transparent;
    width: 500px;
}

textarea{
    /*form-sizing: content;*/
    min-height: 50px;
    resize: vertical;
    
}

input[type="checkbox"] {
    outline: none; /* Eliminar el outline */
    width: auto; /* Eliminar el ancho personalizado */
    margin: 10px; /* Ajustar el margen si es necesario */
}



/* Additional Media Queries */
@media (max-width: 600px) {
    body {
        margin: 0 20px;
    }
    
    .container, .container2, .container3, .container4, .container5, .container6 {
        flex-direction: column;
        padding: 10px;
    }
    
    .leftcontainer, .rightcontainer {
        margin: 0;
        padding: 10px;
    }
}

/*para el futuro
@media (600px <= width <= 1200px) {
    body {
        
    }
    
}*/
