* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    border: 2px solid #ff3b3b;
    width: 100%;
    display: flex;
}

.grid-caja3 {
    border: 3px solid #79ff54;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: 20vw 12vw;
    column-gap: 20px;

}

/*================== TEXTO =====================*/

.text-container {
    display: flex;
    justify-content: center;
    position: relative;
    grid-row: span 3;

}

.text-box {
    border: 1px solid #858e99;
    width: 33vw;
    padding: 20px;
    position: absolute;
    font-family: 'Palatino Linotype', serif;
    left: 75%;
    top: -40px;
    text-align: center;
    background-color: #ffffff;

}

.box-title {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.text {
    font-size: 12px;
    font-style: italic;
}

.button{
    background-color: #555c66;
    border: none;
    font-size: 12px;
    margin-top: 15px;
    padding: 12px;
    color: #ffffff;
    cursor: pointer;
}

.button:hover{
    background-color: #1778ff;
    padding: 20px;
}
/*================== IMAGENES =====================*/

.photo-caja3 {
    height: 100%;
    width: 100%;
    display: flex;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}