/*Octavo contenedor*/

.bloque8 {
    width: 73%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 6vw repeat(3, 12vw);

}

.text-title {
    font-size: clamp(0.5rem, 1.2rem, 1.5rem);
}


